<!-- Validation failure messages -->
<% if @phone.errors.any? %>
  <% @phone.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Phone</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_phone" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for site_id -->
      <div class="form-group">
        <label for="site_id" class="control-label">
          Site
        </label>

        <%=select_tag(:site_id, options_from_collection_for_select(Site.order("name ASC"), :id, :name, @phone.site_id), :class => "form-control") %>
      </div>

      <!-- Label and input for number -->
      <div class="form-group">
        <label for="number" class="control-label">
          Number
        </label>

        <input type="text" id="number" name="number" placeholder="Number" class="form-control" value="<%= @phone.number %>">
      </div>

      <button class="btn btn-success">
        Create Phone
      </button>
      or
      <a href="/phones">Cancel</a>
    </form>
  </div>
</div>
